nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(65, 65, 65);
        padding: 0.5rem;
        transition: all 0.3s ease;

        &:hover {
            color: #fff;
            background: rgb(65, 65, 65);
        }
    }
}


// Media Quaries

@media screen and (max-width: 768px) {
    nav {
        button {
            color: #fff;
            background: rgb(65, 65, 65);
            z-index: 10;

            &:hover {
                background: transparent;
                color: rgb(65, 65, 65);
            }
        }
    }
}